<div class="row">
  <div class="col-sm-2 col-sm-offset-1">
    <img src="images/avatar.png" class="avatar-img" alt="user avatar" width="160px" height="140px"><br>
  </div>
  <div class="col-sm-7">
    <div class="table-responsive table-border">          
      <table class="table borderless">
        <tbody>
          <tr>
            <th width="20%">Market</th>
            <td width="55%">Fill in who are your customers?</td>
            <td width="25%"></td>
          </tr>
          <tr>
            <th width="20%">Pain</th>
            <td width="55%">What is the pain statement that you are trying to solve for them?</td>
            <td width="25%"></td>
          </tr>
          <tr>
            <th width="20%">Benefit</th>
            <td width="55%">What is the benefit that will match that pain statement?</td>
            <td width="25%">
              <button class="btn btn-default">Edit Profile</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3 class="text-center">How is <strong>VenturX <a href="#"><span class="glyphicon glyphicon-pencil"></span></a></strong> doing today? <small>Check dashboard</small></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2">
    <div class="col-md-2 chart-gap" ng-repeat="chart in charts">
      <ui-knob value="chart.value" options="chart.options"></ui-knob>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 20px">
  <div class="col-xs-12 alert alert-warning ">
    <strong>Small conversion?</strong> Learn what you can do to <strong>rise your conversion</strong>.
  </div>
</div>
<div class="row">
  <div class="col-xs-12 alert alert-danger">
    <strong>Low product score? Try this</strong> to get more...
  </div>
</div>
